html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  text-align: center;
}

i {
  color: #fff;
}

.btn-ghost {
  border-color: #fff;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #ff5e3a;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

  .item-1, .item-2 {
    border-right: 3px #ff9500 solid;
    border-bottom: none;
  }

}
