html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  text-align: center;
}

i {
  color: #fff;
}

.btn-ghost {
  border-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.btn:hover {
  color: #ff5e3a;
  border-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 60em) {

  .unit:nth-child(2) {
    border-left: 3px solid rgba(255, 255, 255, .5);
    border-right: 3px solid rgba(255, 255, 255, .5);
    border-bottom: none;
  }

}
